<!-- section content begin -->
<div class="uk-section uk-section-muted in-wave-13">
    <div class="uk-container">
        <div class="uk-grid-large uk-position-relative" data-uk-grid>
            <div class="uk-position-bottom-right in-wave-mockup">
                <img src="{{root}}img/in-wave-mockup-3.png" alt="wave-mockup" width="860" height="530">
            </div>
            <div class="uk-width-1-2@m">                
                <h1 class="uk-text-primary uk-margin-remove">Metatrader 5:</h1>
                <h2 class="uk-margin-remove-top uk-margin-medium-bottom">Your trusted trading platfrom for any trade conditions</h2>
                <div class="uk-flex">
                    <a href="#" class="uk-button in-button-app">
                        <i class="fab fa-google-play"></i>
                        <span class="wrapper">Download from<br><span>Play Store</span></span>
                    </a>
                    <a href="#" class="uk-button in-button-app uk-margin-small-left">
                        <i class="fab fa-apple"></i>
                        <span class="wrapper">Download from<br><span>App Store</span></span>
                    </a>
                </div>
                <div class="uk-child-width-1-3@m uk-margin-large-top" data-uk-grid>
                    <div>
                        <img class="uk-margin-remove-bottom" src="{{root}}img/in-wave-icon-11.svg" alt="wave-icon" width="42" height="42">
                        <h4 class="uk-margin-top">Daily analysis</h4>
                        <p>Ducimus temporibus vel assumenda ad fugit culpa vero.</p>
                    </div>
                    <div>
                        <img class="uk-margin-remove-bottom" src="{{root}}img/in-wave-icon-12.svg" alt="wave-icon" width="42" height="42">
                        <h4 class="uk-margin-top">$100 deposit</h4>
                        <p>Vel assumenda ad fugit culpa provident quaemol alias.</p>
                    </div>
                    <div>
                        <img class="uk-margin-remove-bottom" src="{{root}}img/in-wave-icon-13.svg" alt="wave-icon" width="42" height="42">
                        <h4 class="uk-margin-top">Low spread</h4>
                        <p>Provident quae vero tenetur alias quod enim voluptates.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->